{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://route53resolver.amazonaws.com/"
        },
        {
            "url": "http://route53resolver.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Here's how you set up to query an Amazon Route 53 private hosted zone from your network:</p> <ol> <li> <p>Connect your network to a VPC using AWS Direct Connect or a VPN.</p> </li> <li> <p>Run the following AWS CLI command to create a Resolver endpoint:</p> <p> <code>create-resolver-endpoint --name [endpoint_name] --direction INBOUND --creator-request-id [unique_string] --security-group-ids [security_group_with_inbound_rules] --ip-addresses SubnetId=[subnet_id] SubnetId=[subnet_id_in_different_AZ]</code> </p> <p>Note the resolver endpoint ID that appears in the response. You'll use it in step 3.</p> </li> <li> <p>Get the IP addresses for the Resolver endpoints:</p> <p> <code>get-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p> </li> <li> <p>In your network configuration, define the IP addresses that you got in step 3 as DNS servers.</p> <p>You can now query instance names in your VPCs and the names of records in your private hosted zone.</p> </li> </ol> <p>You can also perform the following operations using the AWS CLI:</p> <ul> <li> <p> <code>list-resolver-endpoints</code>: List all endpoints. The syntax includes options for pagination and filtering.</p> </li> <li> <p> <code>update-resolver-endpoints</code>: Add IP addresses to an endpoint or remove IP addresses from an endpoint. </p> </li> </ul> <p>To delete an endpoint, use the following AWS CLI command:</p> <p> <code>delete-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Route 53 Resolver",
        "version": "2018-04-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53resolver-2018-04-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "route53resolver"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/route53resolver/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Adds IP addresses to an inbound or an outbound resolver endpoint. If you want to adding more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a>DisassociateResolverEndpointIpAddress</a>.</p>",
                "operationId": "AssociateResolverEndpointIpAddress",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverEndpoint": {
                                            "description": "The response to an <code>AssociateResolverEndpointIpAddress</code> request.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN (Amazon Resource Name) for the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "CreatorRequestId": {
                                                    "description": "A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests to be retried without the risk of executing the operation twice.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Direction": {
                                                    "description": "<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p> <ul> <li> <p> <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p> </li> </ul>",
                                                    "enum": [
                                                        "INBOUND",
                                                        "OUTBOUND"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HostVPCId": {
                                                    "description": "The ID of the VPC that you want to create the resolver endpoint in.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID of the resolver endpoint.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "IpAddressCount": {
                                                    "description": "The number of IP addresses that the resolver endpoint can use for DNS queries.",
                                                    "type": "integer"
                                                },
                                                "ModificationTime": {
                                                    "description": "The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "SecurityGroupIds": {
                                                    "description": "The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.",
                                                    "items": {
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the resolver endpoint.",
                                                    "enum": [
                                                        "CREATING",
                                                        "OPERATIONAL",
                                                        "UPDATING",
                                                        "AUTO_RECOVERING",
                                                        "ACTION_NEEDED",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "IpAddress": {
                                        "description": "Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.",
                                        "properties": {
                                            "Ip": {
                                                "description": "The new IP address.",
                                                "maxLength": 36,
                                                "minLength": 7,
                                                "type": "string"
                                            },
                                            "IpId": {
                                                "description": " <i>Only when removing an IP address from a resolver endpoint</i>: The ID of the IP address that you want to remove. To get this ID, use <a>GetResolverEndpoint</a>.",
                                                "maxLength": 64,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "SubnetId": {
                                                "description": "The ID of the subnet that includes the IP address that you want to update. To get this ID, use <a>GetResolverEndpoint</a>.",
                                                "maxLength": 32,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ResolverEndpointId": {
                                        "description": "The ID of the resolver endpoint that you want to associate IP addresses with.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResolverEndpointId",
                                    "IpAddress"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AssociateResolverRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Associates a resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a>CreateResolverRule</a>. ",
                "operationId": "AssociateResolverRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverRuleAssociation": {
                                            "description": "Information about the <code>AssociateResolverRule</code> request, including the status of the request.",
                                            "properties": {
                                                "Id": {
                                                    "description": "The ID of the association between a resolver rule and a VPC. Resolver assigns this value when you submit an <a>AssociateResolverRule</a> request.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name of an association between a resolver rule and a VPC.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "ResolverRuleId": {
                                                    "description": "The ID of the resolver rule that you associated with the VPC that is specified by <code>VPCId</code>.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the association between a resolver rule and a VPC.",
                                                    "enum": [
                                                        "CREATING",
                                                        "COMPLETE",
                                                        "DELETING",
                                                        "FAILED",
                                                        "OVERRIDDEN"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of the association between a resolver rule and a VPC.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "VPCId": {
                                                    "description": "The ID of the VPC that you associated the resolver rule with.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Name": {
                                        "description": "A name for the association that you're creating between a resolver rule and a VPC.",
                                        "maxLength": 64,
                                        "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                        "type": "string"
                                    },
                                    "ResolverRuleId": {
                                        "description": "The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "VPCId": {
                                        "description": "The ID of the VPC that you want to associate the resolver rule with.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResolverRuleId",
                                    "VPCId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateResolverEndpoint": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Creates a resolver endpoint. There are two types of resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network or another VPC.</p> </li> <li> <p>An <i>outbound resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network or another VPC.</p> </li> </ul>",
                "operationId": "CreateResolverEndpoint",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverEndpoint": {
                                            "description": "Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN (Amazon Resource Name) for the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "CreatorRequestId": {
                                                    "description": "A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests to be retried without the risk of executing the operation twice.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Direction": {
                                                    "description": "<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p> <ul> <li> <p> <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p> </li> </ul>",
                                                    "enum": [
                                                        "INBOUND",
                                                        "OUTBOUND"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HostVPCId": {
                                                    "description": "The ID of the VPC that you want to create the resolver endpoint in.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID of the resolver endpoint.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "IpAddressCount": {
                                                    "description": "The number of IP addresses that the resolver endpoint can use for DNS queries.",
                                                    "type": "integer"
                                                },
                                                "ModificationTime": {
                                                    "description": "The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "SecurityGroupIds": {
                                                    "description": "The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.",
                                                    "items": {
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the resolver endpoint.",
                                                    "enum": [
                                                        "CREATING",
                                                        "OPERATIONAL",
                                                        "UPDATING",
                                                        "AUTO_RECOVERING",
                                                        "ACTION_NEEDED",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CreatorRequestId": {
                                        "description": "A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. ",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Direction": {
                                        "description": "<p>Specify the applicable value:</p> <ul> <li> <p> <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network or another VPC</p> </li> </ul>",
                                        "enum": [
                                            "INBOUND",
                                            "OUTBOUND"
                                        ],
                                        "type": "string"
                                    },
                                    "IpAddresses": {
                                        "description": "The subnets and IP addresses in your VPC that you want DNS queries to pass through on the way from your VPCs to your network (for outbound endpoints) or on the way from your network to your VPCs (for inbound resolver endpoints). ",
                                        "items": {
                                            "description": "In an <a>CreateResolverEndpoint</a> request, a subnet and IP address that you want to use for DNS queries.",
                                            "properties": {
                                                "Ip": {
                                                    "description": "The IP address that you want to use for DNS queries.",
                                                    "maxLength": 36,
                                                    "minLength": 7,
                                                    "type": "string"
                                                },
                                                "SubnetId": {
                                                    "description": "The subnet that contains the IP address.",
                                                    "maxLength": 32,
                                                    "minLength": 1,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "SubnetId"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "Name": {
                                        "description": "A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.",
                                        "maxLength": 64,
                                        "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                        "type": "string"
                                    },
                                    "SecurityGroupIds": {
                                        "description": "The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify must include one or more inbound rules (for inbound resolver endpoints) or outbound rules (for outbound resolver endpoints).",
                                        "items": {
                                            "maxLength": 64,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "Tags": {
                                        "description": "A list of the tag keys and values that you want to associate with the endpoint.",
                                        "items": {
                                            "description": "One tag that you want to add to the specified resource. A tag consists of a <code>Key</code> (a name for the tag) and a <code>Value</code>.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The name for the tag. For example, if you want to associate Resolver resources with the account IDs of your customers for billing purposes, the value of <code>Key</code> might be <code>account-id</code>.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value for the tag. For example, if <code>Key</code> is <code>account-id</code>, then <code>Value</code> might be the ID of the customer account that you're creating the resource for.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "CreatorRequestId",
                                    "SecurityGroupIds",
                                    "Direction",
                                    "IpAddresses"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateResolverRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "For DNS queries that originate in your VPCs, specifies which resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.",
                "operationId": "CreateResolverRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverRule": {
                                            "description": "Information about the <code>CreateResolverRule</code> request, including the status of the request.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN (Amazon Resource Name) for the resolver rule specified by <code>Id</code>.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreatorRequestId": {
                                                    "description": "A unique string that you specified when you created the resolver rule. <code>CreatorRequestId</code>identifies the request and allows failed requests to be retried without the risk of executing the operation twice. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DomainName": {
                                                    "description": "DNS queries for this domain name are forwarded to the IP addresses that are specified in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), the query is routed using the resolver rule that contains the most specific domain name (www.example.com).",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID that Resolver assigned to the resolver rule when you created it.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name for the resolver rule, which you specified when you created the resolver rule.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "OwnerId": {
                                                    "description": "When a rule is shared with another AWS account, the account ID of the account that the rule is shared with.",
                                                    "maxLength": 32,
                                                    "minLength": 12,
                                                    "type": "string"
                                                },
                                                "ResolverEndpointId": {
                                                    "description": "The ID of the endpoint that the rule is associated with.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "RuleType": {
                                                    "description": "This value is always <code>FORWARD</code>. Other resolver rule types aren't supported.",
                                                    "enum": [
                                                        "FORWARD",
                                                        "SYSTEM",
                                                        "RECURSIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ShareStatus": {
                                                    "description": "Whether the rules is shared and, if so, whether the current account is sharing the rule with another account, or another account is sharing the rule with the current account.",
                                                    "enum": [
                                                        "NOT_SHARED",
                                                        "SHARED_WITH_ME",
                                                        "SHARED_BY_ME"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the resolver rule.",
                                                    "enum": [
                                                        "COMPLETE",
                                                        "DELETING",
                                                        "UPDATING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of a resolver rule.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "TargetIps": {
                                                    "description": "An array that contains the IP addresses and ports that you want to forward ",
                                                    "items": {
                                                        "description": "In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.",
                                                        "properties": {
                                                            "Ip": {
                                                                "description": "One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.",
                                                                "maxLength": 36,
                                                                "minLength": 7,
                                                                "type": "string"
                                                            },
                                                            "Port": {
                                                                "description": "The port at <code>Ip</code> that you want to forward DNS queries to.",
                                                                "maximum": 65535,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Ip"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "minItems": 1,
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ResourceUnavailableException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "CreatorRequestId": {
                                        "description": "A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. ",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "DomainName": {
                                        "description": "DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), outbound DNS queries are routed using the resolver rule that contains the most specific domain name (www.example.com).",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "Name": {
                                        "description": "A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.",
                                        "maxLength": 64,
                                        "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                        "type": "string"
                                    },
                                    "ResolverEndpointId": {
                                        "description": "The ID of the outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "RuleType": {
                                        "description": "Specify <code>FORWARD</code>. Other resolver rule types aren't supported.",
                                        "enum": [
                                            "FORWARD",
                                            "SYSTEM",
                                            "RECURSIVE"
                                        ],
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A list of the tag keys and values that you want to associate with the endpoint.",
                                        "items": {
                                            "description": "One tag that you want to add to the specified resource. A tag consists of a <code>Key</code> (a name for the tag) and a <code>Value</code>.",
                                            "properties": {
                                                "Key": {
                                                    "description": "The name for the tag. For example, if you want to associate Resolver resources with the account IDs of your customers for billing purposes, the value of <code>Key</code> might be <code>account-id</code>.",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "The value for the tag. For example, if <code>Key</code> is <code>account-id</code>, then <code>Value</code> might be the ID of the customer account that you're creating the resource for.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "TargetIps": {
                                        "description": "The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a comma.",
                                        "items": {
                                            "description": "In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.",
                                            "properties": {
                                                "Ip": {
                                                    "description": "One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.",
                                                    "maxLength": 36,
                                                    "minLength": 7,
                                                    "type": "string"
                                                },
                                                "Port": {
                                                    "description": "The port at <code>Ip</code> that you want to forward DNS queries to.",
                                                    "maximum": 65535,
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "Ip"
                                            ],
                                            "type": "object"
                                        },
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "CreatorRequestId",
                                    "RuleType",
                                    "DomainName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteResolverEndpoint": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes a resolver endpoint. The effect of deleting a resolver endpoint depends on whether it's an inbound or an outbound resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network or another VPC are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network or to another VPC.</p> </li> </ul>",
                "operationId": "DeleteResolverEndpoint",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverEndpoint": {
                                            "description": "Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN (Amazon Resource Name) for the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreationTime": {
                                                    "description": "The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "CreatorRequestId": {
                                                    "description": "A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests to be retried without the risk of executing the operation twice.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Direction": {
                                                    "description": "<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p> <ul> <li> <p> <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p> </li> </ul>",
                                                    "enum": [
                                                        "INBOUND",
                                                        "OUTBOUND"
                                                    ],
                                                    "type": "string"
                                                },
                                                "HostVPCId": {
                                                    "description": "The ID of the VPC that you want to create the resolver endpoint in.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID of the resolver endpoint.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "IpAddressCount": {
                                                    "description": "The number of IP addresses that the resolver endpoint can use for DNS queries.",
                                                    "type": "integer"
                                                },
                                                "ModificationTime": {
                                                    "description": "The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).",
                                                    "maxLength": 40,
                                                    "minLength": 20,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "SecurityGroupIds": {
                                                    "description": "The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.",
                                                    "items": {
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the resolver endpoint.",
                                                    "enum": [
                                                        "CREATING",
                                                        "OPERATIONAL",
                                                        "UPDATING",
                                                        "AUTO_RECOVERING",
                                                        "ACTION_NEEDED",
                                                        "DELETING"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of the resolver endpoint.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidRequestException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResolverEndpointId": {
                                        "description": "The ID of the resolver endpoint that you want to delete.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResolverEndpointId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteResolverRule": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes a resolver rule. Before you can delete a resolver rule, you must disassociate it from all the VPCs that you associated the resolver rule with. For more infomation, see <a>DisassociateResolverRule</a>.",
                "operationId": "DeleteResolverRule",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ResolverRule": {
                                            "description": "Information about the <code>DeleteResolverRule</code> request, including the status of the request.",
                                            "properties": {
                                                "Arn": {
                                                    "description": "The ARN (Amazon Resource Name) for the resolver rule specified by <code>Id</code>.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "CreatorRequestId": {
                                                    "description": "A unique string that you specified when you created the resolver rule. <code>CreatorRequestId</code>identifies the request and allows failed requests to be retried without the risk of executing the operation twice. ",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "DomainName": {
                                                    "description": "DNS queries for this domain name are forwarded to the IP addresses that are specified in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), the query is routed using the resolver rule that contains the most specific domain name (www.example.com).",
                                                    "maxLength": 256,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Id": {
                                                    "description": "The ID that Resolver assigned to the resolver rule when you created it.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "description": "The name for the resolver rule, which you specified when you created the resolver rule.",
                                                    "maxLength": 64,
                                                    "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
                                                    "type": "string"
                                                },
                                                "OwnerId": {
                                                    "description": "When a rule is shared with another AWS account, the account ID of the account that the rule is shared with.",
                                                    "maxLength": 32,
                                                    "minLength": 12,
                                                    "type": "string"
                                                },
                                                "ResolverEndpointId": {
                                                    "description": "The ID of the endpoint that the rule is associated with.",
                                                    "maxLength": 64,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "RuleType": {
                                                    "description": "This value is always <code>FORWARD</code>. Other resolver rule types aren't supported.",
                                                    "enum": [
                                                        "FORWARD",
                                                        "SYSTEM",
                                                        "RECURSIVE"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ShareStatus": {
                                                    "description": "Whether the rules is shared and, if so, whether the current account is sharing the rule with another account, or another account is sharing the rule with the current account.",
                                                    "enum": [
                                                        "NOT_SHARED",
                                                        "SHARED_WITH_ME",
                                                        "SHARED_BY_ME"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "A code that specifies the current status of the resolver rule.",
                                                    "enum": [
                                                        "COMPLETE",
                                                        "DELETING",
                                                        "UPDATING",
                                                        "FAILED"
                                                    ],
                                                    "type": "string"
                                                },
                                                "StatusMessage": {
                                                    "description": "A detailed description of the status of a resolver rule.",
                                                    "maxLength": 255,
                                                    "type": "string"
                                                },
                                                "TargetIps": {
                                                    "description": "An array that contains the IP addresses and ports that you want to forward ",
                                                    "items": {
                                                        "description": "In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.",
                                                        "properties": {
                                                            "Ip": {
                                                                "description": "One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.",
                                                                "maxLength": 36,
                                                                "minLength": 7,
                                                                "type": "string"
                                                            },
                                                            "Port": {
                                                                "description": "The port at <code>Ip</code> that you want to forward DNS queries to.",
                                                                "maximum": 65535,
                                                                "minimum": 0,
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "Ip"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "minItems": 1,
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceErrorException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ResolverRuleId": {
                                        "description": "The ID of the resolver rule that you want to delete.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ResolverRuleId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DisassociateResolverEndpointIpAddress": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
[...]
